
.App-color-nav {
  background-color: #79b4f8;
  color: #FFFFFF;
  font-size: calc(6px + 2vmin);
  padding: 15px;
}

.App-body {
  background-color: #FFFFFF;
  text-align: center;
  font-family: sans-serif;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  padding: 100px;
}

.App-footer-image {
  max-height: 50px;
  max-width: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
}

.App-Page-Header{
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
  padding: 10px;
}

.App-Button{
  background-color: #396eff;
  text-align: center;
  font-family: sans-serif;
  color: #FFFFFF;
  border-radius: 5px;
  border-style: solid;
  margin: 15px;
  border-width: 10px;
  border-color: #396eff;
}

.Chatbot{
  padding-top: 100px;
  text-align: center;

}